* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
}
.brand {
  color: #00a0c7 !important;
  font-weight: bold;
}
.asignUp {
  background: #00a0c7;
  color: #eee !important;
  border-radius: 4px;
  box-shadow: 2px 3px 4px #eee;
}
.postForm {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin-top: 30px;
  margin-bottom: 30px;
}
.flexPostForm {
  display: flex;
  align-items: center;
}
.imgPostForm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.imgPostForm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.txtPostModal {
  border: none;
  outline: none;
  resize: inherit;
}
.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
.name {
  color: #707070;
}
.divTime {
  display: flex;
  align-items: center;
  color: #707070b0;
  font-size: 13px;
}
.divTime i {
  margin-right: 5px;
}
.imgPost {
  padding: 15px 60px;
  height: 400px;
}
.imgPost img {
  width: 100%;
  height: 100%;
}
.divNumComments {
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 15px;
  justify-content: end;
  margin-bottom: 10px;
}
.divNumComments i {
  margin-right: 5px;
}
.hr {
  background-color: #70707063;
}
.comment {
  padding: 15px 60px;
}
.boxComment {
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 8px;
  width: auto;
}
.nameBoxComment {
  font-weight: bold;
  margin-bottom: 5px;
}
.contentBoxComment {
  margin-bottom: 5px;
  font-size: 14px;
}
/***************style login*******************/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 50px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btnLogin {
  background-color: #00a0c7;
  color: #eee;
}
.linksignup {
  cursor: pointer;
  color: #00a0c7 !important;
  text-decoration: none;
  font-size: 18px;
}
.linksignup:hover {
  color: #707070 !important;
}
.imgHead {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.imgHead img {
  width: 100%;
  height: 100%;
}
